
{% extends "layout.html" %}
{% import "includes/sub-navigation.html" as subNavigation %}

{% block pageTitle %}
Print version with CSS
{% endblock %}

{% set prototypesActive = true %}

{% block content %}

<style>
    @media print {

        header,
        footer,
        .govuk-phase-banner {
            display: none !important;
        }

        .letter-size {
            padding: 4em;
        }
        .letter-image {
            max-width: 12em;
            padding: 0 0 4em 0;
        }


    }
    .letter {

    }
    .letter-logo {
        margin: 0 auto;
    }
    .letter-size,
    .letter-size * {
        font-family: "HelveticaNeue", "Helvetica Neue", "Arial", "Helvetica", sans-serif;
        font-size: 16px;
    }
    .letter-image {
        /*max-width: 300px;*/
        padding: 0 0 60px 0;
    }

    .letter-table {
        border-collapse: collapse;
        max-width: 100%;
        font-size: 12px;
    }

    .letter-table th,
    .letter-table td {
        padding: 4px;
        border: 1px solid #000;
        text-align: left;
        font-size: 12px;
    }

    .letter-table strong {
        font-size: 12px;
    }

    .letter-table .letter-table--right {
        text-align: right;
    }
    .letter-list {

    }
    .letter-list li {
        padding: 4px 0
    }

</style>

<div class="govuk-grid-row letter">
    <div class="govuk-grid-column-full letter-size">
        <div><button id="removeStuff">Remove unwanted elements</button></div>
        <div class="letter-logo" style="width:100%;text-align:center;"><img src="/public/images/innovate_logo_small.png" class="letter-image" style=""> </div>
        <p style="text-align:right;" style="text-align: right;">
            Arnold Simpson<br>
            Big Riffs And Insane Solos Ltd 1<br>
            Shred Street<br>
            Bath<br>
            BA1 5LR<br>
        </p>
        <p>
            <strong>Application number:</strong> 111<br>
           <strong>Project title:</strong> Military Robotics <br>
           <strong>Competition:</strong> New designs for a circular economy<br>
           <strong>Date:</strong> 1 March 2019 Grant offer letter<br>
        </p>
        <p>
            Dear Arnold Simpson,
        </p>
        <p>
            We are pleased to confirm your grant award. It is subject to the terms and conditions you agreed to by submitting your application in the Innovation Funding Service. This includes any additional terms and conditions attached to this notice.
        </p>
        <p>Your individual grant allocations are detailed in the attached annexes. These allocations are final and not subject to further negotiation or amendment.
        </p>


        <p><strong>Queries raised</strong></p>
        <ol class="letter-list">
            <li>Sed finibus efficitur turpis, luctus malesuada dui pretium ut.</li>
            <li>Nullam rutrum condimentum faucibus. Praesent vitae dapibus massa. Nam eget augue a urna porta iaculis quis et erat. Etiam tellus sapien, posuere eget tincidunt</li>
            <li>Sed finibus efficitur turpis, luctus malesuada dui pretium ut</li>
            <li>Nullam rutrum condimentum faucibus. Praesent vitae dapibus massa. Nam eget augue a urna porta iaculis quis et erat. Etiam tellus sapien, posuere eget tincidunt</li>
            <li>Donec sed metus ac felis ornare fringilla. Vivamus eu accumsan ex. Quisque scelerisque aliquet accumsan. Interdum et malesuada fames ac ante ipsum primis in faucibus</li>
            <li>Praesent vitae dapibus massa. Nam eget augue a urna porta iaculis quis et erat. Etiam tellus sapien, posuere eget tincidunt at</li>
        </ol>

        <h2 class="heading-medium">Accepting your award </h2>
        <p>To confirm you want to accept, please complete and sign the annex attached to this notice. You should return this through the Innovation Funding Service. </p>
        <p>Acceptance includes confirming your project start and end dates. Once your acceptance is approved, these can only be changed by submitting a request through your Monitoring Officer. </p>
        <p>Your award will be withdrawn if you do not confirm your start date within one calendar month of this letter. Any costs incurred before that start date will be ineligible for grant unless you have made other arrangements. </p>
        <p>We wish you every success with your project. Yours sincerely </p>
        <p>Ben Morris
            <br>Delivery and Insight Manager
        </p>
        <br style="page-break-before: always">
        <h2 class="heading-medium">Annex 1: acceptance of award</h2>
        <p>
            <strong>File reference:</strong> 1231124<br>
            <strong>Application number:</strong> 21789<br>
            <strong>Date:</strong> Monday, 15 April 2019<br>
            <strong>Competition: APC 11:</strong> advancing the UK's low carbon automotive capability<br>
            <strong>Project title:</strong> Re-purpose of ICE Infrastructure for EDU<br>
        </p>

        <p>I accept the offer on behalf of the project, set out in the grant offer letter and in the schedules attached. </p>
        <p>For the purposes of the offer:</p>
        <p >
            (i)	Project start date	______________________________________________ <br><br>
            (ii)	Project end date	______________________________________________ <br>
        </p>

        <p>Please note: to make administration simpler, the project start date must be the first day of a calendar month. Please also make sure the project end date falls on the last day of a calendar month, by selecting an appropriate project length.</p>

        <br><br><br><br>

        <p>
            <strong>Signed:</strong> ______________________________________________ <br><br>
            Director for and on behalf of Super Tech Ltd<br><br>
        </p>

        <br><br>

        <p>
            <strong>Print name:</strong> ______________________________________________ <br><br>

        </p>

        <br><br>

        <p>
            <strong>Date:</strong> ______________________________________________ <br><br>

        </p>

        <br style="page-break-before: always">
        <h2 class="heading-medium">Example small table</h2>

        <table class=" letter-table ">
            <thead>
                <tr>
                    <th  class="">Summary</th>
                    <th style="text-align:right;">Totals (£)</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="">Total project costs</td>
                    <td style="text-align:right;">200, 900</td>
                </tr>
                <tr>
                    <td class="">Total project grant</td>
                    <td style="text-align:right;">412, 500</td>
                </tr>
                <tr>
                    <td class="">Rate of grant (%)</td>
                    <td style="text-align:right;">65</td>
                </tr>
                <tr>
                    <td class="">Total cost</td>
                    <td style="text-align:right;"><strong>613,400</strong></td>
                </tr>

            </tbody>
        </table>
        <br style="page-break-before: always">
        <p class="mso-pagination: page-break-before">break</p>
        <h2 class="heading-medium">Example large</h2>

        <table class="letter-table">
            <thead>
                <tr>
                    <th title="Field #1">Industry costs</th>
                    <th title="Field #2" style="text-align:right;">Super Tech Ltd</th>
                    <th title="Field #3" style="text-align:right;">Big Wheels Ltd</th>
                    <th title="Field #4" style="text-align:right;">Delicate Instruments Ltd</th>
                    <th title="Field #5" style="text-align:right;">Human Computer Ltd</th>
                    <th title="Field #6" style="text-align:right;">Skynet Robotics UK Ltd</th>
                    <th title="Field #7" style="text-align:right;">Omnicorp</th>
                    <th title="Field #8" style="text-align:right;">Nefarious Operations Ltd</th>
                    <th title="Field #9" style="text-align:right;">Total (industry)</th>
                </tr>
            </thead>
            <tbody><tr>
                <td>Labour</td>
                <td style="text-align:right;">£1,160,876 </td>
                <td style="text-align:right;">£688,270 </td>
                <td style="text-align:right;">£242,214 </td>
                <td style="text-align:right;">£351,877 </td>
                <td style="text-align:right;">£276,313 </td>
                <td style="text-align:right;">£186,476 </td>
                <td style="text-align:right;">£343,930 </td>
                <td style="text-align:right;">£3,249,956 </td>
            </tr>
            <tr>
                <td>Overheads</td>
                <td style="text-align:right;">£1,034,341 </td>
                <td style="text-align:right;">£603,192 </td>
                <td style="text-align:right;">£92,402 </td>
                <td style="text-align:right;">£201,106 </td>
                <td style="text-align:right;">£215,911 </td>
                <td style="text-align:right;">£37,295 </td>
                <td style="text-align:right;">£333,612 </td>
                <td style="text-align:right;">£2,517,859 </td>
            </tr>
            <tr>
                <td>Materials</td>
                <td style="text-align:right;">£1,310,100 </td>
                <td style="text-align:right;">£194,400 </td>
                <td style="text-align:right;">£0 </td>
                <td style="text-align:right;">£15,000 </td>
                <td style="text-align:right;">£20,000 </td>
                <td style="text-align:right;">£45,000 </td>
                <td style="text-align:right;">£3,000 </td>
                <td style="text-align:right;">£1,587,500 </td>
            </tr>
            <tr>
                <td>Capital usage</td>
                <td style="text-align:right;">£85,772 </td>
                <td style="text-align:right;">£76,682 </td>
                <td style="text-align:right;">£0 </td>
                <td style="text-align:right;">£2,999 </td>
                <td style="text-align:right;">£0 </td>
                <td style="text-align:right;">£47,999 </td>
                <td style="text-align:right;">£11,228 </td>
                <td style="text-align:right;">£224,680 </td>
            </tr>
            <tr>
                <td>Subcontract </td>
                <td style="text-align:right;">£662,903 </td>
                <td style="text-align:right;">£0 </td>
                <td style="text-align:right;">£80,670 </td>
                <td style="text-align:right;">£0 </td>
                <td style="text-align:right;">£0 </td>
                <td style="text-align:right;">£45,000 </td>
                <td style="text-align:right;">£0 </td>
                <td style="text-align:right;">£788,573 </td>
            </tr>
            <tr>
                <td>Travel and subsistence</td>
                <td style="text-align:right;">£55,000 </td>
                <td style="text-align:right;">£10,200 </td>
                <td style="text-align:right;">£16,500 </td>
                <td style="text-align:right;">£16,100 </td>
                <td style="text-align:right;">£4,000 </td>
                <td style="text-align:right;">£15,500 </td>
                <td style="text-align:right;">£4,404 </td>
                <td style="text-align:right;">£121,704 </td>
            </tr>
            <tr>
                <td>Other Costs1</td>
                <td style="text-align:right;">£0 </td>
                <td style="text-align:right;">£0 </td>
                <td style="text-align:right;">£0 </td>
                <td style="text-align:right;">£10,000 </td>
                <td style="text-align:right;">£0 </td>
                <td style="text-align:right;">£10,000 </td>
                <td style="text-align:right;">£55,000 </td>
                <td style="text-align:right;">£75,000 </td>
            </tr>
            <tr>
                <td>Other Costs2</td>
                <td style="text-align:right;">£0 </td>
                <td style="text-align:right;">£0 </td>
                <td style="text-align:right;">£0 </td>
                <td style="text-align:right;">£0 </td>
                <td style="text-align:right;">£0 </td>
                <td style="text-align:right;">£0 </td>
                <td style="text-align:right;">£0 </td>
                <td style="text-align:right;">£0 </td>
            </tr>
            <tr>
                <td>Other Costs3</td>
                <td style="text-align:right;">£0 </td>
                <td style="text-align:right;">£0 </td>
                <td style="text-align:right;">£0 </td>
                <td style="text-align:right;">£0 </td>
                <td style="text-align:right;">£0 </td>
                <td style="text-align:right;">£0 </td>
                <td style="text-align:right;">£0 </td>
                <td style="text-align:right;">£0 </td>
            </tr>
            <tr>
                <td>Other Costs4</td>
                <td style="text-align:right;">£0 </td>
                <td style="text-align:right;">£0 </td>
                <td style="text-align:right;">£0 </td>
                <td style="text-align:right;">£0 </td>
                <td style="text-align:right;">£0 </td>
                <td style="text-align:right;">£0 </td>
                <td style="text-align:right;">£0 </td>
                <td style="text-align:right;">£0 </td>
            </tr>
            <tr>
                <td>Other Costs5</td>
                <td style="text-align:right;">£0 </td>
                <td style="text-align:right;">£0 </td>
                <td style="text-align:right;">£0 </td>
                <td style="text-align:right;">£0 </td>
                <td style="text-align:right;">£0 </td>
                <td style="text-align:right;">£0 </td>
                <td style="text-align:right;">£0 </td>
                <td style="text-align:right;">£0 </td>
            </tr>
            <tr>
                <td>Other Costs WBBA</td>
                <td style="text-align:right;">£0 </td>
                <td style="text-align:right;">£0 </td>
                <td style="text-align:right;">£0 </td>
                <td style="text-align:right;">£0 </td>
                <td style="text-align:right;">£0 </td>
                <td style="text-align:right;">£0 </td>
                <td style="text-align:right;">£0 </td>
                <td style="text-align:right;">£0 </td>
            </tr>
            <tr>
                <td>Total eligible costs</td>
                <td style="text-align:right;">£4,308,992 </td>
                <td style="text-align:right;">£1,572,744 </td>
                <td style="text-align:right;">£431,786 </td>
                <td style="text-align:right;">£597,082 </td>
                <td style="text-align:right;">£516,224 </td>
                <td style="text-align:right;">£387,270 </td>
                <td style="text-align:right;">£751,174 </td>
                <td style="text-align:right;">£8,565,272 </td>
            </tr>
            <tr>
                <td>Rate of grant (%)</td>
                <td style="text-align:right;">38.00%</td>
                <td style="text-align:right;">39.00%</td>
                <td style="text-align:right;">46.00%</td>
                <td style="text-align:right;">100.00%</td>
                <td style="text-align:right;">39.00%</td>
                <td style="text-align:right;">46.00%</td>
                <td style="text-align:right;">100.00%</td>
                <td style="text-align:right;">48.77%</td>
            </tr>
            <tr>
                <td>Total grant</td>
                <td style="text-align:right;">£1,637,417 </td>
                <td style="text-align:right;">£613,370 </td>
                <td style="text-align:right;">£198,621 </td>
                <td style="text-align:right;">£597,082 </td>
                <td style="text-align:right;">£201,327 </td>
                <td style="text-align:right;">£178,144 </td>
                <td style="text-align:right;">£751,174 </td>
                <td style="text-align:right;">£4,177,135 </td>
            </tr>
            </tbody></table>
        <br><br><br>

    </div>
    <div class="govuk-grid-column-one-quarter">&nbsp;</div>

</div>

{% endblock %}
{% block pageScripts %}

<script>
  jQuery(document).ready(function() {
    // quick 'n' dirty
    console.log( "ready!" );
    $('#removeStuff').on('click', function() {
      $('header').remove();
      $('footer').remove();
      $('.govuk-phase-banner').remove();
      $('#removeStuff').remove();
      $('.govuk-skip-link').remove();
      $('*[href="/public/stylesheets/application.css"]').remove();
    });
  });

</script>

{% endblock %}
