
{% extends "layout.html" %}

{% block pageTitle %}
IFS Components library
{% endblock %}

{% set patternLibraryActive = true %}
{% set showNavigation = true %}
{% set getStartedActive = true %}

{% block content %}

<h1 class="govuk-heading-xl">
    Pattern library
</h1>

<h2 class="govuk-heading-m">Using the pattern library</h2>
<p class="govuk-body">Guide to setting up the prototyping kit here</p>

<h2 class="govuk-heading-m">Release notes</h2>
<p class="govuk-body">V.1.0.0</p>

<h2 class="govuk-heading-m">Statis prototyping and wireframing</h2>
<p class="govuk-body">
    We use <a href="https://www.adobe.com/uk/products/xd">Adobe XD</a> for wireframing and host prototypes using their built-in service.
</p>
<p class="govuk-body">
    Download the <a href="https://github.com/InnovateUKGitHub/ifs-prototypes/raw/master/docs/assets/files/Master-library.xd">XD Master library</a> for current patterns and layouts.
</p>


{% endblock %}
